@font-face {
    font-family: sv;
    src: url("font.ttf");
}

body {
    color: #58150D;
    background-color: #595959;
    font-family: sv;
}

#main{
    position: relative;
    width: 1600px;
    height: 1200px;
}

#main img {
    width: 1600px;
    height: 1200px;
    position: absolute;
    top: 0;
    left: 0;
}

#main div {
    position: absolute;
}
#main p {
    position: absolute;
}

#pfp {
    top: 200px;
    left: 142px;
    width: 370px;
    height: 370px;

}

#pfp img {
    position: relative;
    width: 100%;
    height: 100%;
}

#name {
    top: 627px;
    left: 149px;
    width: 360px;
    height: 55px;
    text-align: center;
    font-size: 55px;
}

#bio {
    top: 240px;
    left: 600px;
    width: 600px;
    height: 200px;
    font-size: 40px;
}

#full_image {
    top: 189px;
    left: 1319px;
    width: 104px;
    height: 168px;
    /*background-color: #FFFFFF;*/
}
#full_image img {
    width: 100%;
    height: 100%;
}

#season {
    top: 1011px;
    left: 145px;
    width: 237px;
    height: 65px;
    font-size: 65px;
    text-align: center;
}

#day0 {
    top: 1011px;
    left: 437px;
    width: 32.5px;
    height: 65px;
    font-size: 65px;
    text-align: center;

    /*background-color: #FFFFFF;*/
}

#day1 {
    top: 1011px;
    left: 472px;
    width: 33px;
    height: 65px;
    font-size: 65px;
    text-align: center;

    /*background-color: #FFFFFF;*/
}



#love {
    top: 654px;
    left: 703px;
    width: 1000px;
    height: 65px;
}

#love img {
    position: relative;
    width: 65px;
    height: 65px;
    padding-right: 44.75px;
/*TODO: fix that*/
}


#hate {
    top: 802px;
    left: 703px;
    width: 1000px;
    height: 65px;
}

#hate img {
    position: relative;
    width: 65px;
    height: 65px;
    padding-right: 44.75px;
}


#people {
    position: fixed;
    top: 951px;
    left: 616px;
    width: 1000px;
    height: 65px;
}

#people img {
    position: relative;
    width: 123px;
    height: 123px;
    padding-right: 50.5px;
/*    Strange image this one*/
}


#pet {
    top: 766px;
    left: 179px;
}
#pet img {
    position: relative;
    width: 65px;
    height: 65px;

}
#pet h1 {
    text-align: center;
}



#horse {
    top: 766px;
    left: 407px;
}
#horse img {
    position: relative;
    width: 65px;
    height: 65px;
}
#horse h1 {
    text-align: center;
}

#input {
    background-color: #A9A9A9;
    padding: 30px;
    margin: 30px;
}